{% extends 'front.html.twig' %}

{% block main %}

    <!-- Page Add Section Begin -->
    <section class="page-add cart-page-add" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="page-breadcrumb">
                        <h2>OOOOOOPS<span>.</span></h2>

                        <h4>Ce Produit est Hors Stock</h4>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Page Add Section End -->

    <center>
        <img src="{{ asset('client/img/oops.jpg') }}" alt="" style="height: 700px">

    </center>







{% endblock %}