{% extends 'back.html.twig' %}
{% block title %}
    Modifier Produit
{% endblock %}
{% block main %}
    <div style="display: flex;align-items: center;justify-content: center;">
        <div style="width: 300px">
            {{ form (form) }}
        </div>
    </div>
{% endblock %}