
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>


<div class="col-lg-3 col-md-3 col-sm-12 title-area">



</div>




<br>
<br>
<br>

<center><h1><u>Reservation</u></h1></center>
<br>
<br>
<br>


<body>
<centre>
<img height="200" src="http://ourcodeworld.com/resources/img/ocw-empty.png"/>
</centre>
<div>
    <!-- Do not forget to give width and height to your svg
        use PLAIN SVG directly (<svg>content</svg>)
        Tiger SVG EXAMPLE : https://upload.wikimedia.org/wikipedia/commons/f/fd/Ghostscript_Tiger.svg
    -->
</div>

<center>


    <b>idreservation :</b> {{ event.idreservation }}<br><br>
    <b>date  :</b> {{ event.date|date() }} <br><br>
    <b>place  :</b> {{ event.place }}<br><br>
    <b>bike :</b> {{ event.bike }}<br><br>
    <br><br>

</center>




</body>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>




<hr>
<b>.WoRLd-FrIeNdShIp.</b>


</html>